#admin-button {
    margin-top: 70px;
    margin-bottom: 100px;
}

.menu-button {
    font-size: 2em;
    margin: 20px auto;
    text-align: center;
}

.menu-button-link {
    -moz-appearance: button;
    -webkit-appearance: button;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    min-width: 300px;
    background-color: #b39ddb;
    transition: background-color 0.2s;
}

.menu-button-link:hover,
.menu-button-link:active {
    background-color: #836fa9;
}

#antet-utilizatori {
    margin-left: 30%;
    margin-top: 70px;
    font-size: 1.3em;
}

#placeholder-utilizatori {
    margin-top: 20px;
    text-align: center;
}
